server:
  port: 8081

spring:
  application:
    name: order-service

  profiles:
    active: dev

  config:
    import: configserver:http://localhost:8888
eureka:
  instance:
    instance-id: ${spring.application.name}:${server.port}:${random.value}

